@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: Lato, sans-serif;
    margin: 0 auto;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    line-height: 1.67;
}

.flex-item {
    width: 270px;
    height: 210px;
    margin: 10px;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    font-size: 6em;
    position:relative;
}


.flex-item-text {
    text-align: left;
    font-family: Lato;
    height: 24%;
    line-height: 3.75;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #565656;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icons {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.fa-info {
    line-height: 2.2;
}

.picture {
    color: white;
    -moz-transition: filter .25s ease-in-out;
   -webkit-transition: filter .25s ease-in-out;
}


.hover-text {
    position: absolute;
    color: #333333;
    font-size: 14px;
    width: 100%;
    height: 76%;
    z-index: 1;
    opacity: 0;
    -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.question-text {
    margin-left: 10px;
}

.flex-item:hover > .hover-text {
    display: block;
    opacity: 1;
}

.flex-item:hover > .hover-text > .opaque-blur: {
    opacity: 0.9;
}

.select-claim {
    border-radius: 25px;
    border: 2px solid #1e202b;
    color: #1e202b;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 52px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    z-index: 5;
    
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}


.flex-item:hover > .hover-text > .opaque-blur {
 opacity: 0.9;
}

.flex-item:hover > .picture {
    filter: blur(2px);
}

.selected > .picture {
    filter: blur(2px);
}

.opaque-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    top:0;
    opacity: 0.9;
    z-index:-1;
    -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.hover-text > h3 {
    -webkit-margin-before: 10px;
    -webkit-margin-after: 0px;
    
}

a.icons:link, a.icons:visited, a.icons:hover, a.icons:active { color:#565656; }

.selected {
    border-color: rgb(38, 178, 103);
}


.selected-blur{
    opacity: 1;
}

.selected-blur > opaque-blur{
    opacity: 0.9;
}

.selected-blur > .question-description {
    opacity: 0;
}


.question-description {
-webkit-transition: opacity .25s ease-in-out;

}

.selected-button {
    color: rgb(38, 178, 103);
    border-color: rgb(38, 178, 103);
    left: 109px;
    bottom: 48px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.selected-button > span {
opacity: 0;
    font-size: 0px;
}

.selected-text {
  
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: opacity .25s ease-in-out;
}

.selected-button + span {
    display: block;
    opacity: 1;
}

#header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
}

.header-item {
    position: relative;
    width: 50px;
    height: 60px;
    background-color: aqua;
}

#nav {
     padding: 0;
  margin: 0;
  list-style: none;
-webkit-flex-direction: row; 
  flex-direction: row;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    background-color: #2e5278;
    
}

#header-text {
    margin: 20px;
    color: #565656;
}

#header {
  padding: 0;
  margin: 0;
  list-style: none;
-webkit-flex-direction: row; 
  flex-direction: row;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    background-color: #1e202b;
}

.header-item {
  background-color: #1e202b;
  padding: 5px;
  width: 100px;
  height: 50px;
  margin: 0px;
  border-right-style: solid;
 border-color: white;
  line-height: 50px;
  color: white;
  font-size: 1em;
  text-align: center;
    border-width: 1px;
}

.active {
    background-color: #2e5278;
}

.lotjm-button {
    background-color: #2e5278;
    border: 1px solid #09213b;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    width: 105px;
}
.lotjm-button > i {
    padding-left:5px;
    padding-right: 5px;
}

#pagination-buttons {
    margin-left: 20px;
    margin-right: 20px;
}

#next-button {
    float: right;
}

.lotjm-button:disabled {
    background-color: rgba(46, 82, 120, 0.5);
    border-color: darkgray;
}

.summary-text {
    text-align: center;
    font-weight: normal;
    color: #252424;
}

#start-again {
    text-align: center;
    font-weight: normal;
    font-size: 1.75em;
    display: block;
    color: #bdbdbd;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    padding-bottom: 2px;
    width: 140px;
 
}

#start-again a {
    text-decoration: none;
    color: #bdbdbd;
}

.summary-container {
    margin-top: 120px;
    width: 80%;
}

.summary-button {
    color: white;
    font-size: 1.5em;
    padding: 20px 40px 20px 40px;
    display:block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border: none;
    background-color: #00dc44;
    border-radius: 5px;
    text-align: center;
    width: 400px;
}

.nav-item:last-of-type  i {
    display: none;
}

.nav-item {
padding: 5px;
  width: 50px;
  height: 50px;
  margin: 0px;
  line-height: 50px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.nav-item:nth-of-type(2n) {
    width: 100px;
}

.nav-item:first-of-type {
    padding-left: 19px;
}

.spacer {
    border-color:white;
    border-style: solid;
    border-width: 1px; 
    position: relative; 
    top: 25px;
}

.nav-item-inactive {
    opacity: 0.5;
}


















