@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0; /* Temp: Just spacing. */
}

.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);

  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #202020;
  overflow: scroll;
}

#brand {
  color: white;
  text-align: center;
  text-transform: uppercase;

}

#map {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
}

/* Just styles... Not relevant to demo */
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.menu-button {
  font-size:  2em;
  position: absolute;
  top: 10px;
  left: 10px;
  border: solid 1px #2d2d2d;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-list {
  padding: 0;
  list-style-type: none;
}

.review-list > li {
  width: 260px;
  height: 50px;
  margin-top:2px;
  margin-bottom: 2px;
  background-color: #2d2d2d;
  padding: 10px 20px 10px 20px;
}

.review-list > li:hover {
  background-color: #444444;
}

.review-name {
  float: left;
  line-height: 50px;
  color: white;
}

.review-score {
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  text-align: center;
  border-radius: 40px;
  border: solid 2px white;
  color: white;
}
