<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Chicken Connoisseur gives us the location of the pengest tings in all of London.">
    <meta name="author" content="Roy Porter">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="shortcut icon" href="img/fried-chicken.png">

    <title>Pengest Munch</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/Chart.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyAIqSkFTvCEG40YwJeoeXSDtzAl8gbW5RU"></script>
    <script src="js/peng.controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

  </head>

  <body ng-app="pengApp" ng-controller="pengestController">

<div id="site-wrapper" class="show-nav">

  <div id="site-canvas">

    <div id="map"></div>

    <div id="top-bar">
      <h2 class="brand">Pengest Munch</h2>
    </div>

    <div id="site-menu">
      <h2 class="brand">Stores</h2>
        <ul class="nav navmenu-nav review-list">
          <li ng-repeat="review in reviews" ng-click="selectMarker(review)" class="toggle-nav">
            <span class="review-name"> {{review.name}} </span>
            <span class="review-score"> {{review.rating.total}} </span>
        </li>
        </ul>
    </div>

  <div class="toggle-nav menu-button"><i class="fa fa-bars"></i></div>
  </div>

</div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>

    <script>
    $(function() {

        // Toggle Nav on Click
        $('.toggle-nav').click(function() {
            // Calling a function in case you want to expand upon this.
            toggleNav();
        });
    });

    function toggleNav() {
        if ($('#site-wrapper').hasClass('show-nav')) {
            // Do things on Nav Close
            $('#site-wrapper').removeClass('show-nav');
        } else {
            // Do things on Nav Open
            $('#site-wrapper').addClass('show-nav');
        }

    }
    </script>


</body>
</html>
