<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The chicken connessioir gives us the location of the pengest tings in all of London.">
    <meta name="author" content="Roy Porter">
    <link rel="shortcut icon" href="http://www.jasny.net/bootstrap/assets/ico/favicon.png">

    <title>Pengest Munch</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="js/peng.js"></script>
    <script src="js/peng.controller.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>

  </head>

  <body ng-app="pengApp" ng-controller="pengestController">

      <!-- <ul class="nav navmenu-nav">
        <li ng-repeat="review in reviews" ng-click="selectMarker(review)" data-toggle="offcanvas" data-target=".navmenu" data-canvas=".canvas"><a href="#">{{review.name}}</a></li>
      </ul> -->

      <div id="site-wrapper">

   <div id="site-canvas">

     <div id="site-menu">
       <a href="#" class="toggle-nav" style="color: pink; font-size: 20px;"><i class="fa fa-times"></i></a>
       <h2>My Menu</h1>
       <p class="lead">Put any HTML you want here.</p>
       <p>Style it however you want.</p>

       <ul>
         <li>Free to scroll up and down</li>
         <li>But not left and write</li>
       </ul>
     </div>



     <a href="#" class="toggle-nav btn btn-lg btn-success" id="big-sexy"><i class="fa fa-bars"></i> Toggle Nav</a>

     <h1 class="text-center">Off Canvas Menu Tutorial</h1>

     <p class="lead text-center">Basic demo showing how to easily implement an Off Canvas Menu by <a href="http://scotch.io/tutorials/off-canvas-menus-with-css3-transitions-and-transforms">scotch.io</a>.</p>



  </div>

</div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>

    <script>
    $(function() {

        // Toggle Nav on Click
        $('.toggle-nav').click(function() {
            // Calling a function in case you want to expand upon this.
            toggleNav();
        });


    });


    /*========================================
    =            CUSTOM FUNCTIONS            =
    ========================================*/
    function toggleNav() {
        if ($('#site-wrapper').hasClass('show-nav')) {
            // Do things on Nav Close
            $('#site-wrapper').removeClass('show-nav');
        } else {
            // Do things on Nav Open
            $('#site-wrapper').addClass('show-nav');
        }

        //$('#site-wrapper').toggleClass('show-nav');
    }
    </script>


</body>
</html>
